.App {
  text-align: center;
}

.dog-div {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dog-div img {
  max-width: 100%;
  height: auto;
}

.dog-div ul {
  padding: 10px;
}

.dog-div li {
  font-size: 12px;
}
